@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PP Neue Montreal Book";
    font-style: normal;
    font-weight: 400;
    src:
        local("PP Neue Montreal Book"),
        url("/ppneuemontreal-book.woff") format("woff");
}

.pp-neue-montreal {
    font-family: "PP Neue Montreal Book";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #151515;
}
